[Unit]
Description=rsi db service
After=network.target

[Service]
ExecStart=/bin/bash /home/ubuntu/binance/botrsi.sh
EnvironmentFile=/home/ubuntu/binance/.env
[Install]
WantedBy=multi-user.target
