[Unit]
Description=stats db service
After=network.target

[Service]
ExecStart=/bin/bash /home/ubuntu/binance/statsdb.sh
EnvironmentFile=/home/ubuntu/binance/.env
[Install]
WantedBy=multi-user.target
