[Unit]
Description=bot db service
After=network.target

[Service]
ExecStart=/bin/bash /home/ubuntu/binance/rangedb.sh
EnvironmentFile=/home/ubuntu/binance/.env
[Install]
WantedBy=multi-user.target
